*{
  margin:0;
  padding: 0;
}

@font-face {
font-family:"ps";
src: url("fonts/ps.woff") format("woff");
src: url("fonts/ps.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.p1 {
  font-family: 'ps';
  src: url("fonts/ps.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}
.div {
  font-family: ps;
}

.body {
  font-family: "ps"
  src: url("fonts/ps.woff") format("woff")
}

.logo{
  width:40%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  width:80%;
  border: 3px solid white;
  border-radius: 50px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
#search{
  padding: 5px;
  font-size: 17px;
  border: 2px solid grey;
  border-radius: 9px;
}

.primary {
	margin-top: 25vh;
	margin-bottom: 0;
	text-align: center;
	line-height: 1.4;
	font-weight: 650;
}

.secondary {
	text-align: center;
	font-weight: 650;
}

.gradiented {
	background: linear-gradient(to left bottom, #ef27df, #ff8c1b);
	animation: gradient 20s ease infinite;
}

.gradiented_text {
  font-family: 'ps';
  src: url("fonts/ps.woff") format("woff");
  font-weight:normal;
  font-style:normal;
	background: linear-gradient(to left bottom, #ef27df, #ff8c1b);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: gradient 20s ease infinite;
}
